// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.cacher {
  .text-error {
    display: none;
    margin-top: 5px;
  }

  .block-general-error {
    display: none;
  }

  .block-spinner {
    display: none;
    margin-bottom: 0;
  }
}
