// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.cacher {
  .text-error {
    display: none;
    margin-top: 5px;
  }

  .block-general-error {
    display: none;
  }

  .block-spinner {
    display: none;
    margin-bottom: 0;
  }

  &.cacher-finder {
    .finder-container {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }

    .select-list {
      width: 250px;

      ol.list-group {
        height: 420px;
        max-height: 420px;
        margin-top: 0;
      }
    }

    .code-preview {
      width: 100%;
      height: 420px;
      margin-left: 10px;

      atom-text-editor {
        height: 388px;
        overflow-y: auto;
      }

      .controls {
        margin-top: 6px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

atom-panel.modal.modal-cacher-finder {
  max-width: 70em;
}
